{% load static %}
<!doctype html>
<html lang="ja">


<head>
    <meta charset="utf-8">
    <title>タイトル</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/css/style.css' %}" />
    <!-- Bootstrapを読み込む-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body class="container">
    <h1 class="display-4 text-primary"> {{title}}</h1>
    <form action="{% url 'home' %}" method="post">
        <!-- 機能追加予定 -->
        <!-- <input type="radio" name="mode_option" value="classic"> classic-->
        <!--  <input type="radio" name="mode_option" value="modern"> modern -->
    </form>

    <!-- メッセージを出力 -->
    <p class="h5 mt-4">{{message|safe}}</p>
    <!-- ボタンによる遷移 -->
    <p><a href="{% url goto %}"> ゲームを始める </a></p>

</body>

</html>